<div id="list">
	<p>At the moment there are <%= @amount %> shrtn active.</p>
	<table>
		<tr>
			<th>shortcode</th>
			<th>url</th>
			<th>clicks</th>
			<th>timeout</th>
		</tr>
	<% @count.times do |n| %>
		<tr>
			<td><%= @url_shortcodes[n] %></td>
			<td><%= @urls[n] %></td>
			<td><%= @clicks[n] %></td>
			<td><%= @timeouts[n] %></td>
		</tr>
	<% end %>
	</table>
</div>